.payPass {
  &Close {
    display: inline-block;
    width: 46px;
    height: 46px;
    background: url("../../assets/cancel.png") no-repeat center / cover;
    cursor: pointer;
  }
  &Title {
    display: flex;
    align-items: center;
    &Before {
      font-family: Inter;
      font-size: 24px;
      font-weight: 700;
      color: #000000;
    }
    &Time {
      font-family: Inter;
      font-size: 14px;
      font-weight: 400;
      color: #6B7280;
    }
  }
  &Body {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  &Tip {
    font-family: Inter;
    font-size: 14px;
    font-weight: 500;
    color: #4B5563;
  }
  &Forget {
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    color: #ECC94B;
  }
}

