.container {
  display: flex;
  width: 100%;
  flex-wrap: nowrap;
  justify-content: center;
}
.hiddenInput {
  width: 0;
  height: 0;
  outline: "none";
  padding: 0;
  border-width: 0;
  box-shadow: "none";
  position: "absolute";
}

.pinInput {
  box-sizing: border-box;
  padding: 0;
  outline: none;
  background-color: transparent;
  width: 36px;
  height: 36px;
  margin: 10px 10px 20px;
  text-align: center;
  border: 1px solid rgb(189, 189, 189);
  border-radius: 3px;
  font-size: 25px;
  font-weight: 500;
}

.fucos {
  border-color: orangered;
  border-width: 2px;
}
