.Pin {
  &Input {
    input {
      width: 70px;
      height: 56px;
    }
  }
  &ModalPin {
    &:focus {
      border-right: 1px solid #718096 !important;
      box-shadow: none !important;
    }
  }
}
