.layout {
  height: 100%;
  display: flex;
  .navs {
    display: flex;
    flex-direction: column;
    height: 100%;
    background: linear-gradient(0deg, #000000, #000000),
    linear-gradient(355.69deg, #251F08 1.09%, rgba(37, 31, 8, 0) 93.69%);
    padding: 12px;
  }
}
